<h1>Listing buzinesses</h1>

<h3>Search by Distance From Vinsol</h3>

<%= form_tag({ controller: 'buzinesses', action: 'index' }, { method: :get }) do %>
  <%= number_field_tag :distance %>
  <%= submit_tag %>
<% end %>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Distance
    </th>
  </tr>
  <% @buzinesses.each do |buziness| %>
    <tr>
      <td>
        <%= buziness.name %>
      </td>
      <td>
        <%= buziness.distance %>
      </td>
    </tr>
  <% end %>
</table>